
@import '../assets/styles/variables';

.Layout {
  align-items: center;
  background-color: $_color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $_contentSpacing * 2;
  position: relative;
  &-background {
    background-image: -webkit-radial-gradient(ellipse, #2a437c 0, #10203b 100%);
    height: 320px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  &-card {
    background-color: $-color-white;
    border: 1px solid $_color-tertiary;
    color: $_color-secondary;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $_contentSpacing * 2;
    max-width: 800px;
    padding: $_contentSpacing;
    position: relative;
    width:  80%;
    z-index: 2;
    @media (min-width: 768px) {
      padding: $_contentSpacing * 2;
    }


  }
  .Content {
    &-profile {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-bottom: $_contentSpacing * 2;
    }
    &-main {
      padding: 0;
      @media (min-width: 768px) {
        padding: 0 $_contentSpacing * 2;
      }
    }
  }
  .Profile {
    
    &-name {
      font-size: 1.2rem;
      padding: 16px 0 0 0;
    }
    &-picture {
      border-radius: 50%;
      height: 150px;
      width: 150px;
    }
  }
  .About {
    &-content {
      p:last-child {
        padding-bottom: $_contentSpacing;
      }
    }
    &-footer {
      display: flex;
      border-top: 1px solid $_color-tertiary;
      color: $_color-secondary;
      justify-content: space-between;
      padding: $_contentSpacing 0 0;
    }
    &Footer {
      &-location {
        .fa-globe-americas {
          margin-right: 8px;
        }
      }
      &-socialMedia {
        display: flex;
        justify-content: flex-end;
        ul {
          display: flex;
          li {
            padding: 0;
            list-style: none;
            margin-right: 8px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  
}