<div class="Layout">
  <div class="Layout-background"></div>
  <div class="Layout-content">
    <div class="Content-profile">
      <img src="https://via.placeholder.com/150" alt="{{ name }}" class="Profile-picture">
      <h1 class="Profile-name">{{ name }}</h1>
      <a href="#" class="Profile-contact">Contact me</a>
    </div>
    <div class="Content-main">
      <div class="ContentMain-about">
        <h2 class="About-title">About Me</h2>
        <h3 class="About-tagline">Full stack developer</h3>
        <div class="About-content">
          <p>Hi! I’m Braulio and I am a web developer.</p>
          <p>With 10+ years of experience in web development, I am a FullStack web developer,  specialized in front-end development.</p>
          <p>Learning as way of life, I feel very comfortable working with in a team, and sharing knowledge.<br/>
          From small startups to large companies, I have extensive experience working in many areas and with different methodologies.</p>
          <p>For 5+ years I have been working exclusively with Javascript, mainly in Angular, but I’m always open to work with different frameworks, platforms and tooling.<br/>
          In the past, I have worked with a bunch of technologies, from LAMP stack, passing through Unity3d or Python, until JS (with jQuery, NodeJS, Angular, React, etc).</p>
          <p>I consider myself as fast learner, problem solver, pragmatic, team player and easy going person.</p>
          <p>Interested in working together? Let’s talk!</p>
        </div>
        <div class="About-footer">
          <div class="AboutFooter-location"><i class="fas fa-globe-americas"></i><span>Montevideo, Uruguay</span></div>
          <div class="AboutFooter-socialMedia">
            <ul>
              <li><a href="https://www.github.com/bradelev" target="_blank"><i class="fab fa-github"></i></a></li>
              <li><a href="https://www.linkedin.com/in/brauliodeleon" target="_blank"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="https://www.instagram.com/bradelev85" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ContentMain-experience">
        <h2 class="Experience-title">Previous Experience</h2>
        <ul class="Experience-items">
          <li class="Experience-item">
            <h3 class="ExperienceItem-title"><a href="">BROS</a><span>2018-2019</span></h3>
            <h4 class="ExperienceItem-role">Full Stack developer</h4>
          </li>
          <li class="Experience-item">
            <h3 class="ExperienceItem-title"><a href="">BROS</a><span>2018-2019</span></h3>
            <h4 class="ExperienceItem-role">Full Stack developer</h4>
          </li>
          <li class="Experience-item">
            <h3 class="ExperienceItem-title"><a href="">BROS</a><span>2018-2019</span></h3>
            <h4 class="ExperienceItem-role">Full Stack developer</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>