@import './variables';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.125rem;
}
p {
  font-size: 0.875rem;
  line-height: 1.5em;
  margin-bottom: 1rem;
}